<div class="my-navbar">
  <div class="logo-div">
    <% link_to '#intro' do %>
        <%= image_tag 'sflogo.png', class: 'logo' %>
    <% end %>
  </div>

  <div class="navbar-links">
    <%= link_to "CONTACTS",  '#email'%>
    <%= link_to "WORK",  '#work'%>
    <%= link_to "ABOUT ME", '#about' %>
  </div>
</div>
