.intro-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  // linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(69,68,68,0.8) 100%),
  background-size: cover;
  color: white;
  position: relative;
}

.main-title {
  text-align: center;
  margin-bottom: 32px;
  h1 {
    font-family: $headers-font;
    color: $blue;
    font-size: 140px;
    letter-spacing: 10px;
    margin: 0;
  }
  h2 {
    font-family: $body-font;
    margin: 0;
    font-size: 45px;
    // it'll be javascript typing, if possible to be done with one string only
  }
}

.arrow-down {
  position: absolute;
  bottom: 20px;
  i {
    font-size: 36px;
  };
  p {
      margin: 0;
  }
}
