.profile-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 48px;
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-position: center;
  margin: 32px auto 0 auto;
}

.profile-description {
  text-align: center;
  max-width: 560px;
  margin: 0 auto;
  font-size: 30px;
  color: $blue;
  opacity: 0.85;
}


