.profile-wrapper {
  height: 100vh;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: center;
  margin: 0 auto;
}

.profile-description {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}


