body {
  margin: 0 80px;
}

.main-title {
  text-align: center;
  h1 {
    font-family: $headers-font;
    font-size: 72px;
    letter-spacing: 5px;
  }
  h2 {
    font-family: $body-font;
    margin: 0;
    // it'll be javascript typing, if possible to be done with one string only
  }
}
