---
title: Sara Foresti | Web Developer
---

<div id="home">
  <div class="main-title">
    <h1>Sara Foresti</h1>
    <h2>< Web Developer /></h2>
  </div>

  <div class="introduction">
    <div class="profile-pic">
      <!-- flippin card tutorial! -->
    </div>
    <div class="profile-description">
      <p>I'm a brand new full stack developer</p>
    </div>
  </div>
</div>
